# 依赖目录
node_modules/

#宣传物料
宣传物料/

# 忽略所有以 "." 开头的文件夹
.*/

# 但保留 .gitignore 文件本身
!.gitignore

# 常见的需要保留的配置文件（根据需要取消注释）
# !.env.example
# !.prettierrc
# !.eslintrc
# !.editorconfig

# IDE 和工具生成的文件
tasks.json
biome.json